### Khang Tran Homework 02 Regression

In [1]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'
df = pd.read_csv(url)
df = df[['engine_displacement','horsepower','vehicle_weight','model_year','fuel_efficiency_mpg']]
df

,engine_displacement,horsepower,vehicle_weight,model_year,fuel_efficiency_mpg
0,170,159.0,3413.433759,2003,13.231729
1,130,97.0,3149.664934,2007,13.688217
2,170,78.0,3079.038997,2018,14.246341
3,220,NaN,2542.392402,2009,16.912736
4,210,140.0,3460.870990,2009,12.488369
...,...,...,...,...,...
9699,140,164.0,2981.107371,2013,15.101802
9700,180,154.0,2439.525729,2004,17.962326
9701,220,138.0,2583.471318,2008,17.186587
9702,230,177.0,2905.527390,2011,15.331551
9703,270,140.0,2908.043477,2005,14.884467

### Q1. Columns have missing values:

In [2]:
col_missing = []
for i in df.columns:
    if df[i].isnull().sum() > 0:
        col_missing.append(i)
print('Column have missing values:',col_missing)

Column have missing values: ['horsepower']

### Q2. Median for *horsepower*:

In [3]:
print('Median for horsepower:',df['horsepower'].median())

Median for horsepower: 149.0

#### Prepare and split the dataset (same code in lecture)

In [4]:
### Train / val / test distribution:
n = len(df)

n_val = int(n * 0.2)
n_test = int(n * 0.2)
n_train = n - n_val - n_test

n_train, n_val, n_test

(5824, 1940, 1940)

In [5]:
### Random dataset
idx = np.arange(n)
np.random.seed(42)
np.random.shuffle(idx)

### Subset dataframe
df_train = df.iloc[idx[:n_train]]
df_val = df.iloc[idx[n_train:n_train+n_val]]
df_test = df.iloc[idx[n_train+n_val:]]

### Check number of rows
assert (len(df_train), len(df_val), len(df_test)) == (n_train, n_val, n_test)

### Q3. RMSE baseline Linear Regression:

### Q4. r give the best RMSE:

### Q5. Value of std:

### Q6. Best RMSE on test dataset: